RewriteEngine on 
#RewriteCond %{HTTP_HOST} ^(www.)?simonli.ca$ 
#RewriteCond %{REQUEST_URI} /home/content/s/i/m/simonli/html/public_html/ 
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteRule ^(.*)$ /public_html/$1 
#RewriteCond %{HTTP_HOST} ^(www.)?simonli.ca$ 
#RewriteRule ^(/)?$ public_html/index.html [L]
Redirect /index.html /public_html/index.php