/*@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('../fonts/quattrocentosans-regular-webfont.eot');
    src: url('../fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quattrocentosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/quattrocentosans-regular-webfont.woff') format('woff'),
         url('../fonts/quattrocentosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


