*{
    margin: 0px;
    padding: 0px;
}

.row.meSection {
    padding: 50px 0 0 0;
}

.meContent {
    padding-top: 20px;
}


ul.tabs.vertical {
    width: 100%;
    max-width: none;
    li.tab-title {
        width: 100%;
    }
}


.skillsSection {
  margin-top: 80px;
}

.workSection {
  margin-top: 80px;
}